<launch>
	<!-- LAUNCH INTERFACE -->
	<arg name="isLeft" default="true" doc="Choose wheher to load a left (true) or right (false) hand."/>
	<arg name="name" default="containerB" doc="Choose which object you wish to grasp."/>
	<arg name="mass" default="0.5" doc="Give an idea of the mass of this object (inertia will be computed from this reasonably)."/>

	<!-- LAUNCH IMPLEMENTATION -->

	<!-- lload both hand and object description in separate parameters -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find interactive_grasping_simulator)/urdf/hand.urdf.xacro isLeft:=$(arg isLeft)"/>

	<param name="object_description" command="$(find xacro)/xacro --inorder $(find interactive_grasping_simulator)/urdf/object.urdf.xacro name:=$(arg name) mass:=$(arg mass)"/>

	<!-- Spawn models into Gazebo  -->
	<node name="spawn_hand" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model soft_hand" respawn="false" output="screen"/>

	<node name="spawn_object" pkg="gazebo_ros" type="spawn_model" args="-param object_description -urdf -model object" respawn="false" output="screen"/>

	<!-- load Gazebo simulation environment -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find interactive_grasping_simulator)/world/simple_environment.world"/>
			<arg name="paused" value="false"/>
			<!-- when using the real/sim scenario in parallel, set "use_sim_time" to false -->
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="true"/>
			<arg name="debug" value="false"/>
	</include>

	<!-- load controller configurations -->
	<rosparam file="$(find interactive_grasping_simulator)/config/controllers.yaml" command="load"/>
	<!-- spawn the controllers in current namespace -->
	<node ns="soft_hand" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"  args="joint_state_controller joint_trajectory_controller"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false"/>
		<rosparam param="source_list">[/soft_hand/joint_states]</rosparam>
	</node>

	<param name="publish_frequency" value="500"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- load slider -->
	<node name="slider" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" respawn="false" output="screen"/>

	<!-- IGS server -->
	<param name="leftness" value="$(arg isLeft)"/>
	<node required="true" name="IGS" pkg="interactive_grasping_simulator" type="interactive_marker_server" respawn="false" output="screen"/>

	<include file="$(find interactive_grasping_simulator)/launch/asus_frames.launch.xml">
	</include>

	<node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find interactive_grasping_simulator)/launch/my_rviz.rviz" output="screen"/>

</launch>