<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="complete_soft_hand">

  <xacro:include filename="$(find complete_soft_hand)/model/complete_soft_hand.urdf.xacro"/>
  
  <link name="world">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1.0"/>
      </geometry>
    </visual>
  </link>

  <xacro:complete_soft_hand parent="world" name="hand">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:complete_soft_hand>
  

</robot>