<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="object">
	<xacro:property name="m" value="0.487" />
	<xacro:property name="x" value="0.072898" />
	<xacro:property name="y" value="0.1905" />
	<xacro:property name="z" value="0.12065" />
	<!-- a wall to test the adaptivity   -->
	<link name="object">
		<inertial>
			<mass value="${m}"/>
			<inertia  ixx="${m*(y*y + z*z)/12}" ixy="0.00"  ixz="0.00" iyy="${m*(x*x + z*z)/12}" iyz="0.00" izz="${m*(x*x + y*y)/12}" />
		</inertial>
		<visual>
			<geometry>
				<box size="${x} ${y} ${z}"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<box size="${x} ${y} ${z}"/>
			</geometry>
			<surface>
				<friction>
					<ode>
			            <mu>1.2</mu>
			            <mu2>1.2</mu2>
          			</ode>
        		</friction>
        	</surface>
		</collision>
	</link>

	<gazebo reference="object">
		<!-- <selfCollide>True</selfCollide>
		<static>true</static> -->
	</gazebo>

</robot>