<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="panda_flange" params="parent name *origin">
  <joint name="${parent}_${name}_joint" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${name}"/>
  </joint>
  <link name="${name}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://soft_hand_description/meshes/accesories/panda_flange.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="SoftHand/DarkGrey"/>
    </visual>
    <collision>
      <origin xyz="0 0.04 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.08 0.08"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>

</robot>