<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- configure how all bodies will behave in gazebo (particular behavior can be set at each link as well) -->
	<xacro:property name="gazebo_body_elements">
		<material>Gazebo/Black</material>
		<gravity>true</gravity>
		<mu1>0.2</mu1>
    	<mu2>0.2</mu2>
    	<!-- <selfCollide>True</selfCollide> -->
		<!--
		<dampingFactor> </dampingFactor>
		<maxVel> </maxVel>
		<minDepth> </minDepth>
		<mu1> </mu1>
		<mu2> </mu2>
		<fdir1> </fdir1>
		<kp> 100000.0 </kp>
		<kd> 1.0 </kd>
		<selfCollide> </selfCollide>
		<maxContacts> </maxContacts>
		<laserRetro> </laserRetro>
		-->
		<!-- sensors plugins -->
	</xacro:property>

	<!-- configure how all joints will behave in gazebo (particular behavior can be set at each joint as well) -->
	<xacro:property name="gazebo_joint_elements">

		<!--
		<kp> </kp>
		<kd> 1.0 </kd>
		<stopCfm> </stopCfm>
		<stopErp> </stopErp>
		<provideFeedback> </provideFeedback>
		<cfmDamping> </cfmDamping>
		<fudgeFactor> </fudgeFactor>
		-->
	</xacro:property>

	<xacro:macro name="soft_hand_gazebo" params="name withAdaptiveTransmission">

		<!-- PLUGINS -->
		<xacro:if value="${withAdaptiveTransmission}">
			<!-- work in progess -->
			<gazebo>
				<plugin name="gazebo_ros_soft_hand" filename="libgazebo_ros_soft_hand.so">
					<robotNamespace>soft_hand</robotNamespace>
					<!-- the joint that rule them all -->
					<synergyJoint>hand_synergy_joint</synergyJoint>
				</plugin>
			</gazebo>
		</xacro:if>

		<xacro:unless value="${withAdaptiveTransmission}">
			<gazebo>
				<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
					<robotNamespace>soft_hand</robotNamespace>
				</plugin>
			</gazebo>
		</xacro:unless>

		<!-- LINKS -->
		<gazebo reference="${name}_palm_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_knuckle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_proximal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_distal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_knuckle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_proximal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_middle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_distal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_knuckle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_proximal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_middle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_distal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_knuckle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_proximal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_middle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_distal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_knuckle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_proximal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_middle_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_distal_link">
			<xacro:insert_block name="gazebo_body_elements"/>
		</gazebo>

		<!-- JOINTS -->
		<gazebo reference="${name}_thumb_abd_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_inner_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_outer_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_abd_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_inner_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_middle_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_outer_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_abd_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_inner_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_middle_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_outer_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_abd_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_inner_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_middle_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_outer_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_abd_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_inner_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_middle_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_outer_joint">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<!-- mimic joints -->
		<gazebo reference="${name}_thumb_inner_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_thumb_outer_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_inner_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_middle_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_index_outer_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_inner_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_middle_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_middle_outer_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_inner_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_middle_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_ring_outer_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_inner_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_middle_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

		<gazebo reference="${name}_little_outer_joint_mimic">
			<xacro:insert_block name="gazebo_joint_elements"/>
		</gazebo>

	</xacro:macro>

</robot>