<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- NOTE: inertia values are approximated using meshlab and only using the significant elements -->
    <!-- from http://answers.ros.org/question/11350/is-there-any-way-to-calculate-inertial-property-of-a-robot-to-simulate-it-in-gazebo/s
    One general rule of thumb I use for checking my inertia tensors is: If total mass of the rigid body is m, and the dimension of the corresponding body is d, then check to see if ixx, iyy, izz are near m*(d/2)^2.

    This is by no means correct, but a sanity check to make sure the moment of inertia are the right order of magnitudes, so the model behaves somewhat physically realistically.
    -->

    <!-- conversions -->
    <!-- I couldn't make the simulation work with realistic values, so I tweaked the conversion values -->
    <xacro:property name="mm_to_m" value="0.001"/>
    <xacro:property name="mm2_to_m2" value="0.001"/>
    <xacro:property name="gr_to_Kg" value="0.01"/>

    <!-- not so negligible, otherwise simulation fails -->
    <xacro:property name="negligible_mass" value="${10*gr_to_Kg}"/>
    <xacro:property name="negligible_inertia">
        <origin xyz="0 0 0"/>
        <mass value="${negligible_mass}"/>
        <inertia ixx="${negligible_mass * 10 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${negligible_mass * 10 * mm2_to_m2}" iyz="0.0" izz="${negligible_mass * 10 * mm2_to_m2}"/>
    </xacro:property>

<!-- MESHLAB RESULT 
Opened mesh knuckle.stl in 69 msec
All files opened in 1632 msec
Mesh Bounding Box Size 34.237190 14.000000 24.628571
Mesh Bounding Box Diag 44.438179 
Mesh Volume is 3977.586182
Mesh Surface is 6276.664062
Thin shell barycenter -0.916360 0.000922 1.028573
Center of Mass is -1.079081 0.000337 0.753063
Inertia Tensor is :
| 172479.187500 -6.220451 -16370.953125 |
| -6.220451 357108.218750 -0.635058 |
| -16370.953125 -0.635058 287765.937500 |
Principal axes are :
| 0.990444 -0.000034 -0.137918 |
| 0.000033 1.000000 -0.000003 |
| 0.137918 -0.000001 0.990444 |
axis momenta are :
| 170199.562500 357108.218750 290045.562500 |
-->
    <xacro:property name="knuckle_mass" value="${9*gr_to_Kg}"/>
    <xacro:property name="knuckle_inertia">
        <origin xyz="${-1.079081*mm_to_m} ${0.000337*mm_to_m} ${0.753063*mm_to_m}"/>
        <mass value="${knuckle_mass}"/>
        <inertia ixx="${knuckle_mass * 45 * mm2_to_m2}" ixy="0.0" ixz="${knuckle_mass * 5 * mm2_to_m2}" iyy="${knuckle_mass * 90 * mm2_to_m2}" iyz="0.0" izz="${knuckle_mass * 70 * mm2_to_m2}"/>
    </xacro:property>

<!-- MESHLAB RESULT 
Opened mesh /home/crosales/Code/catkin_ws/src/pisa-iit-soft-hand/soft_hand/soft_hand_description/meshes/thumb_knuckle.stl in 33 msec
All files opened in 1285 msec
Mesh Bounding Box Size 37.244030 21.967697 19.374882
Mesh Bounding Box Diag 47.382313 
Mesh Volume is 4018.971680
Mesh Surface is 6237.625488
Thin shell barycenter -13.401266 0.384179 -2.923481
Center of Mass is -12.920005 0.086090 -2.952951
Inertia Tensor is :
| 139223.968750 11012.299805 -26258.990234 |
| 11012.299805 393254.875000 8340.372070 |
| -26258.990234 8340.372070 406121.718750 |
Principal axes are :
| 0.994124 0.079107 -0.073887 |
| -0.045758 0.925711 0.375454 |
| 0.098099 -0.369867 0.923891 |
axis momenta are :
| 136125.875000 390863.562500 411611.125000 |
-->
    <xacro:property name="thumb_knuckle_mass" value="${9*gr_to_Kg}"/>
    <xacro:property name="thumb_knuckle_inertia">
        <origin xyz="${-12.920005*mm_to_m} ${0.086090*mm_to_m} ${-2.952951*mm_to_m}"/>
        <mass value="${thumb_knuckle_mass}"/>
        <inertia ixx="${thumb_knuckle_mass * 35 * mm2_to_m2}" ixy="${thumb_knuckle_mass * 3 * mm2_to_m2}" ixz="${thumb_knuckle_mass * -6 * mm2_to_m2}" iyy="${thumb_knuckle_mass * 100 * mm2_to_m2}" iyz="${thumb_knuckle_mass * 2 * mm2_to_m2}" izz="${thumb_knuckle_mass * 100 * mm2_to_m2}"/>
    </xacro:property>

<!-- MESHLAB RESULT 
Opened mesh /home/crosales/Code/catkin_ws/src/pisa-iit-soft-hand/soft_hand/soft_hand_description/meshes/phalanx.stl in 15 msec
All files opened in 5296 msec
Mesh Bounding Box Size 25.074703 14.000000 19.203310
Mesh Bounding Box Diag 34.547184 
Mesh Volume is 2527.398682
Mesh Surface is 4282.738770
Thin shell barycenter -4.782971 0.001171 0.771010
Center of Mass is -4.960685 0.000243 0.383254
Inertia Tensor is :
| 91677.093750 -4.200803 5307.292480 |
| -4.200803 140748.296875 -0.069856 |
| 5307.292480 -0.069856 133253.640625 |
Principal axes are :
| 0.992200 -0.000094 0.124656 |
| 0.000084 1.000000 0.000087 |
| -0.124656 -0.000076 0.992200 |
axis momenta are :
| 91010.304688 140748.296875 133920.421875 |
-->
    <xacro:property name="phalanx_mass" value="${5*gr_to_Kg}"/>
    <xacro:property name="phalanx_inertia">
        <origin xyz="${-4.960685*mm_to_m} ${0.000243*mm_to_m} ${0.383254*mm_to_m}"/>
        <mass value="${phalanx_mass}"/>
        <inertia ixx="${phalanx_mass * 35 * mm2_to_m2}" ixy="0.0" ixz="${phalanx_mass * 2 * mm2_to_m2}" iyy="${phalanx_mass * 55 * mm2_to_m2}" iyz="0.0" izz="${phalanx_mass * 55 * mm2_to_m2}"/>
    </xacro:property>

<!-- MESHLAB RESULT 
Opened mesh /home/crosales/Code/catkin_ws/src/pisa-iit-soft-hand/soft_hand/soft_hand_description/meshes/fingertip.stl in 82 msec
All files opened in 3016 msec
Mesh Bounding Box Size 32.374172 14.000000 19.227772
Mesh Bounding Box Diag 40.172058 
Mesh Volume is 4161.331055
Mesh Surface is 5938.988770
Thin shell barycenter -3.455730 0.000099 1.169912
Center of Mass is -5.103504 -0.002699 1.327406
Inertia Tensor is :
| 138290.968750 262.585175 8672.266602 |
| 262.585175 335387.531250 -90.169434 |
| 8672.266602 -90.169434 317194.593750 |
Principal axes are :
| 0.998832 0.001138 0.048311 |
| -0.001350 0.999990 0.004353 |
| -0.048305 -0.004414 0.998823 |
axis momenta are :
| 137871.203125 335388.218750 317613.656250 |
-->
    <xacro:property name="fingertip_mass" value="${10*gr_to_Kg}"/>
    <xacro:property name="fingertip_inertia">
        <origin xyz="${-5.103504*mm_to_m} ${-0.002699*mm_to_m} ${1.327406*mm_to_m}"/>
        <mass value="${fingertip_mass}"/>
        <inertia ixx="${fingertip_mass * 35 * mm2_to_m2}" ixy="0.0" ixz="${fingertip_mass * 2 * mm2_to_m2}" iyy="${fingertip_mass * 80 * mm2_to_m2}" iyz="0.0" izz="${fingertip_mass * 76 * mm2_to_m2}"/>
    </xacro:property>

<!-- MESHLAB RESULT 
Opened mesh /home/crosales/Code/catkin_ws/src/pisa-iit-soft-hand/soft_hand/soft_hand_description/meshes/palm.stl in 40 msec
All files opened in 1150 msec
Mesh Bounding Box Size 90.965683 117.891800 66.000000
Mesh Bounding Box Diag 162.877975 
Mesh Volume is 101846.578125
Mesh Surface is 75418.046875
Thin shell barycenter -0.867350 52.302502 2.996120
Center of Mass is -1.674316 51.799427 2.533894
Inertia Tensor is :
| 86174528.000000 3524991.000000 -568985.375000 |
| 3524991.000000 55811964.000000 -2272494.250000 |
| -568985.375000 -2272494.250000 112441512.000000 |
Principal axes are :
| 0.993255 -0.112739 -0.027115 |
| 0.111559 0.992883 -0.041686 |
| 0.031622 0.038380 0.998763 |
axis momenta are :
| 86552328.000000 55323868.000000 112551808.000000 |

-->
    <xacro:property name="palm_mass" value="${228*gr_to_Kg}"/>
    <xacro:property name="palm_inertia">
        <origin xyz="${-1.674316*mm_to_m} ${51.799427*mm_to_m} ${2.533894*mm_to_m}"/>
        <mass value="${palm_mass}"/>
        <inertia ixx="${palm_mass * 850 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${palm_mass * 550 * mm2_to_m2}" iyz="0.0" izz="${palm_mass * 1000 * mm2_to_m2}"/>
    </xacro:property>
</robot>