<launch>

	<!-- LAUNCH INTERFACE -->

	<arg name="use_deafult_joint_names" default="true"/>
	<arg name="load_hand_description" default="true"/> <!-- to allow launching this file alone -->
	<arg name="load_rviz" default="true"/> <!-- to allow launching this file alone -->

	<!-- LAUNCH IMPLEMENTATION -->

	<node name="soft_hand_HW" pkg="soft_hand_ros_control" type="soft_hand_hw" respawn="false" output="screen"/>

</launch>