<launch>
	<arg name="gui" default="True" />
	
	<param name="robot_description" command="$(find xacro)/xacro.py $(find complete_soft_hand)/robot/hand_in_world.urdf.xacro" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"  />
  
  	<node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="$(find complete_soft_hand)/launch/my_rviz.rviz" output="screen">
	</node>
</launch>