<launch>

	<!-- LAUNCH (USER) INTERFACE -->

	<!-- LAUNCH IMPLEMENTATION -->
	<group ns="right_hand">
		<rosparam command="load" file="$(find grasp_state_publisher)/config/softgrasp.yaml" />
		<node name="grasp_state_publisher" pkg="grasp_state_publisher" type="grasp_state_publisher" respawn="true" output="screen" />
	</group>

</launch>