<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soft_hand">

	<xacro:include filename="$(find soft_hand_description)/model/soft_hand.urdf.xacro"/>

	<link name="box">
		<inertial>
			<mass value="1.0"/>
			<inertia  ixx="1" ixy="0.00"  ixz="0.00" iyy="1" iyz="0.00" izz="1" />
		</inertial>
		<visual>
			<origin xyz="0 0 0.01" rpy="0 0 0"/>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.01" rpy="0 0 0"/>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
		</collision>
	</link>

	<gazebo>
		<plugin filename="libgazebo_ros_hand_of_god.so" name="HOG">
			<linkName>box</linkName>
			<frameId>box</frameId>
			<kl>2000</kl>
		</plugin>
	</gazebo>

	<gazebo reference="box">
		<static>false</static>
	</gazebo>


	<xacro:soft_hand parent="box" name="soft_hand" withAdaptiveTransmission="true" useMimicTag="$(arg use_mimic_tag)" left="false">
		<origin xyz="0.0 0.0 0.005" rpy="0 0 0"/>
	</xacro:soft_hand>

	 

</robot>